<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DestroyTheWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47F2F2B21DF7BB10005CE126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47F2F2C61DF7BB10005CE126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47F2F2D11DF7BB10005CE126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
